<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body > 
	<nav th:fragment="nav" class="navbar navbar-expand-lg sticky-top fondo_nav">
        <div class="container-fluid">
         <a class="navbar-brand" th:href="@{/index}" >
		          <span class="text-warning"><img class="logo_nav"  th:src="@{/images/logo.png}" alt="logo" title="Logo pagina salud"></span>
		    </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" >
                <a class="nav-link active" aria-current="page" th:href="@{/index}">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/servicio/imc}">Indice de Masa Corporal</a></li>                  
                  <li><hr class="dropdown-divider"></li>                  
                  <li><a class="dropdown-item" th:href="@{/servicio/pesoIdeal}">Peso Ideal</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/receta/recetas}">Recetas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/testimonio/listado/{vista}(vista=${0})}">Testimonios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/contactanos}">Contactanos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestión de Datos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Recetas</a></li>
                  <li><a class="dropdown-item" th:href="@{/ingrediente/ingredientes}">Ingredientes</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" th:href="@{/testimonio/verificar}">Testimonios</a></li>
                  <li><a class="dropdown-item" th:href="@{/usuario/usuarios}">Usuarios</a></li>
                  <li><a class="dropdown-item" th:href="@{/servicio/imc/gestion}">Indice de Masa Corporal</a></li>
                </ul>
              </li>
            </ul>
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a class="btn btn-outline-success me-2" th:href="@{/registro/formulario(perfil='Registrarme')}">Registrarse</a>
              </li>
             <li class="nav-item">
                <a class="btn btn-outline-secondary me-2" th:href="@{/registro/login}">Mi perfil</a>
              </li>
           </ul>

          </div>
        </div>
      </nav>
	</body>
</html>