<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}"></head>
<body>
    <nav th:replace="~{layouts/nav :: nav}"></nav>

    <div>
        <form th:action="@{/servicio/imc/buscar}" method="get">
            <p>Ingrese el id de usuario</p>
            <input type="text" name="id">
            <div th:if="${!existeUsuario}">Usuario inexistente</div>
            <button type="submit">Ingresar</button>
        </form>
    </div>

    <footer th:replace="~{layouts/footer :: footer}"></footer>
    <div th:replace="~{layouts/script :: script}"></div>
    
</body>
</html>