<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layouts/head :: head}"></head>

<body>
    <nav th:replace="~{layouts/nav :: nav}"></nav>
    
    <div class="container">
        <div class="row col-md-8 offset-md-2 mt-5">
            <div class="card bg-success ">
                <div class="card-header text-center fs-3 bg-white">Resultado del IMC</div>
                <div class="card-body bg-white text-center">
                    <div class="mb-3">
                        <h2 th:text="${imc.usuario.nombre}+' '+${imc.usuario.apellido}"></h2>
                    </div>
                    <div class="mb-3">
                        <h3>Estatura: </h3>
                        <h3 th:text="${imc.usuario.estatura}"></h3>

                    </div>
                    <div class="mb-3">
                        <h3>Peso: </h3>
                        <h3 th:text="${imc.peso}"></h3>
                    </div>
                    <div class="mb-3">
                        <h3 th:text="${resultado}"></h3>
                    </div>
                </div>
                <div class="card-footer bg-white d-flex justify-content-center">
                    <a class="btn btn-success" th:href="@{/servicio/imc/listado/}+${imc.usuario.id}">Ver Progreso</a>
                </div>
            </div>
        </div>
    </div>

    

    <footer th:replace="~{layouts/footer :: footer}"></footer>
    <div th:replace="~{layouts/script :: script}"></div>

</body>

</html>