<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}"></head>
<body>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	
		<h1>Nutricion</h1>
		<p>¡Bienvenido a Nutricionate!</p>
		<img class="img-fluid" th:src="@{/images/index1.jpg}" alt="Frutas y Verduras">
		<h3>Alimenta tu cuerpo, nutre tu vida:</h3>
		<p>¡Cuida de ti con una alimentación saludable y equilibrada! En [nombre de tu marca/página], te ofrecemos los mejores consejos y recursos para mejorar tu nutrición y alcanzar tus metas de bienestar. Nuestro equipo de expertos en nutrición está aquí para ayudarte a construir hábitos alimentarios positivos que te brinden energía, vitalidad y una mejor calidad de vida.</p>
		<img class="img-fluid" th:src="@{/images/index2.jpg}" alt="Nutricion Quimica">
		<h3>Transforma tu vida con una alimentación saludable:</h3>
		<p>¿Quieres sentirte lleno de energía, mejorar tu salud y lograr un equilibrio en tu vida? ¡Descubre el poder de una alimentación saludable! En nuestra página, encontrarás todo lo que necesitas para adoptar hábitos nutricionales que te permitirán alcanzar tus objetivos.</p>
		<p>Ofrecemos una amplia variedad de recursos y consejos prácticos, desde deliciosas recetas hasta planes de comidas personalizados. Nuestro equipo de expertos en nutrición te guiará paso a paso, brindándote el conocimiento y el apoyo necesarios para tomar decisiones informadas sobre tu alimentación.</p>
		<h3>¡Alimenta tu cuerpo, nutre tu vida!</h3>
		<img class="img-fluid" th:src="@{/images/index3.jpg}" alt="Informacioin Nutricional">
		<p>¡Cuida de ti mismo y mejora tu bienestar a través de una nutrición saludable! En Nutricionate, estamos comprometidos con tu salud y queremos ayudarte a lograr tus objetivos de bienestar.</p>
		<p>Nuestros expertos en nutrición te brindarán asesoramiento personalizado para diseñar un plan alimentario adaptado a tus necesidades y metas. No se trata de dietas restrictivas, sino de incorporar hábitos alimentarios sostenibles y equilibrados que te permitan disfrutar de una vida plena y saludable.</p>
		<h3>Beneficios:</h3>
		<img class="img-fluid" th:src="@{/images/index4.jpg}" alt="Charla Nutricional">
		<p>Nutricionistas certificados: Nuestro equipo está compuesto por profesionales altamente capacitados en el campo de la nutrición. Te brindarán orientación experta y te acompañarán en cada paso del camino.</p>
		<p>Planes personalizados: Entendemos que cada persona es única. Por eso, crearemos un plan de alimentación adaptado a tus preferencias, necesidades dietéticas y estilo de vida. Te ayudaremos a establecer metas alcanzables y a mantener la motivación en todo momento.</p>
		<p>Alimentos frescos y deliciosos: Descubre cómo disfrutar de una alimentación variada y sabrosa sin sacrificar la salud. Te proporcionaremos recetas y consejos para incorporar alimentos frescos, nutritivos y llenos de sabor en tu día a día.</p>
		<p>Apoyo continuo: Estaremos contigo durante todo el proceso. Te brindaremos seguimiento regular, responderemos a tus preguntas y te proporcionaremos recursos adicionales para ayudarte a mantener una alimentación saludable a largo plazo.</p>
		<p>No esperes más para empezar a transformar tu vida a través de la nutrición adecuada. ¡Contáctanos hoy mismo y descubre cómo una alimentación saludable puede marcar la diferencia en tu bienestar general!</p>
			<footer th:replace="~{layouts/footer :: footer}"></footer>
			<!-- <script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script> -->
			<div th:replace="~{layouts/script :: script}"></div>
</body>
</html>