<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layouts/head :: head}"></head>

<body>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<div class="container" style="min-height: 60vh;">
		<div class="row">
			<div
				class="card text-center col-xs-12 col-sm-12 col-md-4 offset-md-4 mt-3">
				<div class="card-header">Login</div>
				<div class="card-body">
					<form th:action="@{/registro/buscar}" method="get">
						<div class="form-ingreso">
							<h3>Login</h3>
							<label for="id">Ingrese su ID:</label> <input type="number"
								class="form-control" id="id" name="id" required /> <input
								type="submit" class="btn btn-primary" value=LOGIN>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<div th:replace="~{layouts/script :: script}"></div>

</body>

</html>