<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{/layouts/head :: head}"></head>
	<body>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<header class="encabezado container-sm">
			<div class="row">
				<div class="col-3"></div>
				<h1 class="titulo display-4 col-6">Nuevo</h1>
				<div class="col-3"></div>
			</div>
		</header>
		<form class="container formulario" th:action="${edicion}?@{/ingrediente/editar}:@{/ingrediente/guardar}" th:object="${ingrediente}" method="post">
			 <div class="mb-3" th:if="${edicion}">
				<input class="form-control" type="hidden" th:field="*{id}" readonly="readonly">
			</div>
			<div class="mb-3" th:if="${edicion}">
				<input class="form-control" type="hidden" th:field="*{estado}" readonly="readonly">
			</div>
			<br>
			 
			<div class="mb-3">
				<label class="form-label">Nombre: <i class="fa-solid fa-clock"></i></label>
				<input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Ingresa del ingrediente" >
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div> 
			
			<input class="btn btn-success" type="submit" th:value="${editar}?'Guardar Cambios':'Guardar'">
			<a  th:href="@{/ingrediente/ingredientes}" class="btn btn-secondary" role="button" aria-disabled="true">Cancelar</a>
			<br>
		</form>
		<div class="container-fluid cuerpo">
		<table class="table caption-top">
		</table>
	</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<div th:replace="~{layouts/script :: script}"></div>
	</body>
</html>