<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{/layouts/head :: head}"></head>
	<body>
		<nav th:replace="~{layouts/nav :: nav}" ></nav>
		<header class="encabezado container-sm">
				<div class="row">
					<div class="col-3"></div>
					<h1 class="titulo col-6">Recetas</h1>
					<div class="col-3"></div>
				</div>
		</header>
			<div class="container-fluid cuerpo_recetas" th:if="!${#lists.isEmpty(recetas)}" >
			<div class="container-fluid recetas">	
				<div class="receta"  th:each="lista_recetas: ${recetas}">
					<img th:src="@{/images/}+${lista_recetas.imagen}" alt="Imagen de receta"  >
					<div class="mb-3" th:if="${gestion}">
						<a th:href="@{/receta/editar/}+${lista_recetas.id}"><i class="editar-sucu fa-regular fa-pen-to-square"></i></a>
						<a th:href="@{/receta/eliminar/}+${lista_recetas.id}"><i class="eliminar-sucu fa-solid fa-trash-can"></i></a>
					</div>
					<h3 th:text="${lista_recetas.nombre}"></h3>
					<p>Ingredientes</p>
					<p th:text="${lista_recetas.categoria}"></p>
					<ul>
				        <li th:each="ingrediente: ${lista_recetas.ingredientes}">
				            <p th:text="${ingrediente.nombre}"></p>
				        </li>
				    </ul>
					<p th:text="${lista_recetas.preparacion}"></p>
				</div>
				
			</div>
		</div>	
		<div class="guardar" th:if="${gestion}">
			<a th:href="@{/receta/nuevo}"><i class="agregar fa-solid fa-circle-plus"></i></a>
		</div>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<div th:replace="~{layouts/script :: script}"></div>
	</body>
</html>