<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scaleble=no">
<title>Registro</title>
<link th:href="@{/css/estilos.css}" rel="stylesheet">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
</head>
<body>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<div class="formulario">
		<h1>Registrarme</h1>
		<form>
			<div class="form-group">
				<label for="nombre">Nombre:</label> <input type="text"
					class="form-control" id="nombre" name="nombre" required />
			</div>

			<div class="form-group">
				<label for="apellido">Apellido:</label> <input type="text"
					class="form-control" id="apellido" name="apellido" required />
			</div>

			<div class="form-group">
				<label for="email">E-mail:</label> <input type="email"
					class="form-control" id="email" name="email" required />
			</div>
			<div class="form-group">
				<label for="clave">Contraseña:</label> <input type="email"
					class="form-control" id="email" name="email" required />
			</div>

			<div class="form-group">
				<label for="fecha_nacimiento">Fecha de Nacimiento:</label> <input
					type="date" class="form-control" id="fecha_nacimiento"
					name="fecha_nacimiento" required />
			</div>

			<div class="form-group">
				<label for="telefono">Teléfono:</label> <input type="tel"
					class="form-control" id="telefono" name="telefono" required />
			</div>

			<div class="form-group">
				<label for="sexo">Sexo:</label> <select class="form-control"
					id="sexo" name="sexo" required>
					<option value="masculino">Masculino</option>
					<option value="femenino">Femenino</option>
					<option value="otro">Otro</option>
				</select>
			</div>

			<div class="form-group">
				<label for="estatura">Estatura:</label> <input type="number"
					class="form-control" id="estatura" name="estatura" step="0.01"
					required />
			</div>

			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<!-- <script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script> -->
	<div th:replace="~{layouts/script :: script}"></div>
</body>
</html>
