<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}">
	<title>Validar su Usuario</title>
</head>
<body>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<h2 th:text="${accion}"></h2>
	<form class="container" th:action="@{/testimonio/validar}" method="post">	
    	<input type="hidden" name="accion" th:value="${accion}">
    	<input type="hidden" name="user" th:value="${user}">
    	<input class="form-control" type="number" name="clave" placeholder="Ingrese su contraseña" required>
    	<input class="btn btn-success" type="submit" value="Validar">
	</form>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<div th:replace="~{layouts/script :: script}"></div>
</body>
</html>